<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('anomaly.field_type.grid::message.choose_row') }}</h4>
</div>

<div class="modal-body">

    {% include "streams::modals/filter" %}

    {% if not grids.isEmpty() %}
        <ul class="nav nav-pills nav-stacked">
            {% for grid in grids %}
                <li class="nav-item">
                    <a href="{{ url_to('/grid-field_type/form/' ~ route_parameter('field')) }}/{{ grid.stream.id }}?prefix={{ request_get('prefix') }}"
                       class="add-row nav-link has-click-event">
                        <strong>{{ trans(grid.stream.name) }}</strong>
                        <br>
                        <small>{{ trans(grid.stream.description) }}</small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ trans('streams::message.no_results') }}
    {% endif %}
</div>
